<a class="forkme" href="{{ site.repo_url }}"><img src="{{ "/catalog/assets/images/forkme_right_green_007200.png" | prepend: site.baseurl }}" alt="Fork me on GitHub"></a>
<a class="no-ai" href="https://no-ai-icon.com/statement/?url={{ site.domain }}"><img src="{{ "/catalog/assets/images/no-ai-icon-08.png" | prepend: site.baseurl }}" alt="No AI!"></a>
<nav class="navbar navbar-default navbar-tardate">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.url }}">{{ site.title_long }}</a>
    </div>
  </div>
</nav>
