<div class="list-group">
  <div class="list-group-item active">
    About {{ site.title }}
  </div>
  <div class="list-group-item">
    <p>
      LittleModelArt is my personal collection of scale models, miniatures, and art projects.
      Each project page includes all my notes and references.
    </p>
    <p>
      I'm always happy to hear from others interested in the projects, so please feel free to get in touch.
    </p>
    <p>
      For a while I included my scale modelling projects in the LittleArduinoProjects repository but now they are here.
      Check out <a href="https://leap.tardate.com/">LittleArduinoProjects</a> if you are looking for electronics projects!
    </p>
  </div>
  <a href="{{ site.sections.gallery.url  | prepend: site.baseurl }}" class="list-group-item">
    <span class="{{ site.sections.gallery.icons }}" aria-hidden="true"></span>
    {{ site.sections.gallery.title }}
    <span class="note">{{ site.sections.gallery.note }}</span>
  </a>
  <a href="{{ site.sections.notebook.url  | prepend: site.baseurl }}" class="list-group-item">
    <span class="{{ site.sections.notebook.icons }}" aria-hidden="true"></span>
    {{ site.sections.notebook.title }}
    <span class="note">{{ site.sections.notebook.note }}</span>
  </a>
  <a href="{{ site.sections.feed.url  | prepend: site.baseurl }}" class="list-group-item">
    <span class="{{ site.sections.feed.icons }}" aria-hidden="true"></span>
    {{ site.sections.feed.title }}
    <span class="note">{{ site.sections.feed.note }}</span>
  </a>
</div>

<div class="list-group">
  <div class="list-group-item active">
    {{ site.other_sites.title }}
  </div>
  <a href="{{ site.other_sites.leap.url }}" class="list-group-item" title="{{ site.other_sites.leap.note }}">
    <span class="fa fa-link" aria-hidden="true"></span>
    {{ site.other_sites.leap.title }}
    <span class="note">{{ site.other_sites.leap.note }}</span>
  </a>
  <a href="{{ site.other_sites.lck.url }}" class="list-group-item" title="{{ site.other_sites.lck.note }}">
    <span class="fa fa-link" aria-hidden="true"></span>
    {{ site.other_sites.lck.title }}
    <span class="note">{{ site.other_sites.lck.note }}</span>
  </a>
  <a href="{{ site.other_sites.blog.url }}" class="list-group-item" title="{{ site.other_sites.blog.note }}">
    <span class="fa fa-link" aria-hidden="true"></span>
    {{ site.other_sites.blog.title }}
    <span class="note">{{ site.other_sites.blog.note }}</span>
  </a>
</div>
